/* ------------------- Imported Fonts -------------------*/

$tillana-font: 'Tillana', sytem-ui;

/* --------------------- Nav styling ------------------- */

nav {
    ul {
        list-style-type: none;
        text-decoration: none;

        .navLink {
            display: block;
            font-size: 1.85rem;
            color: #343434;
            text-decoration: none;
            font-family: $tillana-font, cursive;
            font-weight: 200;
            font-style: italic;
        }
    }
}

//-------------------------------------------------------//

/* -------------------- Header styling ----------------- */

header {
    h1 {
        font-family: $tillana-font, cursive;
        font-weight: 600px;
        font-size: 3.25rem;
        padding-left: 5%;
    }

    p,
    ul,
    h2 {
        padding-left: 10%;
    }
}

/* ------------------------- Flex ---------------------- */

.flexContainerRow {
    display: flex;
    flex-direction: row;
}

.flexContainerCol {
    display: flex;
    flex-direction: column;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyAround {
    justify-content: space-around;
}

.justifyBetween {
    justify-content: space-between;
}

.alignStart {
    align-items: flex-start;
}

/* ------------------------ NavBar -------------------- */
.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: width 0.5s ease;

    button {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 1.75rem;
        color: #d9d9d9;
        display: block;
        background-color: transparent;
        border: transparent;
        text-decoration-style: none;
        transition: color 0.3s ease;
        &:hover {
            color: #f1f1f1;
        }
    }

    a {
        text-decoration: none;
    }

    .closeBtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        &:hover {
            text-decoration: none;
        }
    }
}

    /* animation styling for main */
#main {
    transition: margin-left .5s ease;
    padding: 20px;
}

body {
    transition: background-color 0.5s ease;
}

#navOpenButton {
    background-color: transparent;
    border: solid thin transparent;
    border-radius: 25%;
    transition: 0.2s;
    &:hover {
        border-color: #111111;
        color: #111111;
    }
}