/* ------------------- Imported Fonts -------------------*/

$tillana-font: 'Tillana', sytem-ui;

/* ------------------------- Body --------------------- */
body,
#main {
    padding: 0;
    margin: 0;
}

p {
    margin-left: 5%;
}

/* animation styling for main */
#main {
    transition: margin-left .5s ease;
}

body {
    transition: background-color 0.5s ease;
}

/* ------------------------ NavBar -------------------- */
.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111111;
    overflow-x: hidden;
    padding-top: 30px;
    transition: width 0.5s ease;

    ul {
        list-style: none;
    }

    button {
        padding: 8px 8px 8px 5%;
        text-decoration: none;
        font-size: 1.75rem;
        font-family: $tillana-font, cursive;
        color: #d9d9d9;
        display: block;
        background-color: transparent;
        border: transparent;
        text-decoration-style: none;
        transition: color 0.3s ease;
        margin-right: 25px;

        &:hover {
            color: #f1f1f1;
        }
    }

    .closeBtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;

        &:hover {
            text-decoration: none;
        }
    }

    .navLink {
        display: block;
        color: #d9d9d9;
        text-decoration: none;
        padding: 10px;
        border-bottom: solid thin #222222;

        &:hover {
            color: #efefef;
            border-bottom: solid thin #efefef;
            transition: border 1.0s ease;
        }
    }
}

#navOpenButton {
    background-color: transparent;
    border: solid thin transparent;
    border-radius: 25%;
    transition: 0.2s;
    font-size: 1.5rem;
    margin-left: 15px;

    &:hover {
        border-color: rgb(17, 17, 17, 0.5);
        color: #111111;
    }
}

//-------------------------------------------------------//

/* -------------------- Content styling ----------------- */
// Header
header {

    width: 100%;

    h1 {
        font-family: $tillana-font, cursive;
        font-weight: 600px;
        font-size: 3rem;
        padding-left: 5%;
        padding-right: 2%;
    }

    p,
    ul,
    h2 {
        padding-left: 5%;
        padding-right: 5%;
    }
}

#login {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;

    label {
        font-size: 1.2rem;
        margin-right: 10px;
    }

    div {
        margin-bottom: 10px;
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

form#newPost {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    div {
        margin-left: 15%;
        margin-bottom: 10px;
        width: 75%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;

        input,
        textarea {
            width: 100%;
            border: solid 1px #3f3f3f;
            border-radius: 7px;
            padding: 10px 20px;
        }
        input {
            height: 3rem;
        }
        textarea {
            height: 5rem;
        }
    }

    #submit {
        width: 200px;
        margin-left: 15%;
        padding: 5px 10px;
        background-color: #d6f2f2;
        color: #010101;
        border: solid 1px transparent;
        border-radius: 10px;
        transition: 0.5s ease;
        margin-bottom: 10px;
        &:hover {
            border: solid 1px black;
            box-shadow: 5px 5px 25px #dedede;
            transition: 0.5s ease;
            background-color: #d4f0e9;
        }
    }
}

.form {
    p {
        font-weight: 500;
        font-size: 1.75rem;
    }
}

// Content

/* ---------------------- Footer ----------------------- */

footer {
    z-index: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(239, 239, 239, 0.8);
    margin: 0;
    padding: 5px 5%;
    border-top: solid 1px #d9d9d9;
    transition: background-color 0.3s ease;

    a {
        text-decoration: none;
        font-style: italic;
    }

    .bold {
        font-weight: bold;
    }

    #left {
        text-align: left;
        margin-left: 20px;
    }

    #right {
        text-align: left;
        margin-left: 20px;
    }
}